header.main  
  .container
    .row.header-top
      .col-md-3
        a(ui-sref="login")
          img(src="assets/images/dash-logo.png")
      .col-md-6
        nav
          a(ui-sref="add" ng-class="{active: header.activeLink == 'add'}")
            i.fa.fa-plus
            | Новый заказ
          a(ui-sref="orders.current" ng-class="{active: header.activeLink == 'orders'}")
            i.fa.fa-list
            | Мои заказы
          a(ui-sref="help" ng-class="{active: header.activeLink == 'help'}")
            i.fa.fa-question-circle
            | Помощь
      .col-md-3.text-right
        button.btn.btn-cash 3000Р
        span.user-nickname credit-service
    .row.header-middle
      .col-md-4(ng-repeat="column in header.columns")
        .info-box.text-center(ng-bind-html="column")