header.main  
  .container
    .row.header-top
      .col-md-3
        a(ui-sref="login")
          img(src="assets/images/dash-logo.png")
      .col-md-6
        nav
          a(ui-sref="add" ng-class="{active: header.activeLink == 'add'}")
            i.fa.fa-plus
            | Новый заказ
          a(ui-sref="orders.current" ng-class="{active: header.activeLink == 'orders'}")
            i.fa.fa-list
            | Мои заказы
          a(ui-sref="help" ng-class="{active: header.activeLink == 'help'}")
            i.fa.fa-question-circle
            | Помощь
      .col-md-3.text-right
        .tool-wrapper(ng-click="header.showPopup = 1" ng-class="{active: header.showPopup}")
          button.btn.btn-cash {{header.balance | currency:''}} ₽
          span.user-nickname {{header.user.username}}
          .popup-tool(ng-show="header.showPopup" click-outside="header.showPopup = 0")
            a.balance(ui-sref="payment") Пополнить баланс
            a.settings(ui-sref="settings") Настройки
            a.exit(href="" ng-click="header.logout()") Выход

    .row.header-middle
      .col-md-12(ng-repeat="column in header.columns")
        .info-box(ng-bind-html="column")