.container.table-container
  .pagination.top(ng-show="pagination.pages")
    a.btn.btn-left(ng-click="pagination.prev()")
    a.btn(href="" ng-click="pagination.to(i)" ng-repeat="i in [] | range:pagination.pages" ng-class="{'btn-primary': pagination.current == i, 'btn-default': pagination.current != i}") {{i+1}}
    a.btn.btn-right(ng-click="pagination.next()")
  .table-responsive(ng-show="pagination.pages")
    table.table.table-striped
      thead
        tr
          th #
          th Имя
          th Отчет
          th Сумма
          th Опции
      tbody
        tr(ng-repeat="order in data | orderBy:'-id' | pagination:pagination.per:pagination.current")
          td 
            a(href="") {{order.id}}
          td {{order.title}}
          td 
            span(ng-class="{green:button.status == 2,red:button.status == 3,orange:button.status == 1}" ng-repeat="button in order.orderbuttons" ng-click="openDoc(button.file)") {{button.button.title}}
            //- span
            //-   strike Идентификация
          td {{order.cost}}P
          td(ng-if="type == 'current'")
            button.btn.btn-option 
              i.fa.fa-plus-circle
              | Дозаказать проверку
            br
            button.btn.btn-option(ng-click="changeStatus(order, 4)")
              i.fa.fa-archive
              | Переместить в архив
            br
            button.btn.btn-option(ng-click="changeStatus(order, 0)")
              i.fa.fa-ban
              | Отменить заказ
          td(ng-if="type == 'archive'")
            button.btn.btn-option(ng-click="changeStatus(order, 1)") 
              i.fa.fa-undo
              | Вернуть


  .pagination.bottom(ng-show="pagination.pages")
    a.btn.btn-left(ng-click="pagination.prev()")
    a.btn(href="" ng-click="pagination.to(i)" ng-repeat="i in [] | range:pagination.pages" ng-class="{'btn-primary': pagination.current == i, 'btn-default': pagination.current != i}") {{i+1}}
    a.btn.btn-right(ng-click="pagination.next()")