.container.table-container
  .pagination.top(ng-show="pagination.pages")
    a.btn.btn-left(ng-click="pagination.prev()" ng-if="pagination.pages > 1")
    a.btn(href="" ng-if="pagination.pages > 1" ng-click="pagination.to(i)" ng-repeat="i in [] | range:pagination.pages" ng-class="{'btn-primary': pagination.current == i, 'btn-default': pagination.current != i}") {{i+1}}
    a.btn.btn-right(ng-click="pagination.next()" ng-if="pagination.pages > 1")
  .table-responsive(ng-show="pagination.pages")
    table.table.table-striped
      thead
        tr
          th #
          th Имя
          th Отчет
          th Сумма
          th Опции
      tbody
        tr(ng-repeat="order in data | orderBy:'-date' | pagination:pagination.per:pagination.current")
          td 
            a(ui-sref="orders.details({id:order.id})") {{order.id}}
          td 
            div(ng-repeat="field in order.fields")
              small(ng-if="field.field_id == 1") {{field.content}}
              small(ng-if="field.field_id == 5") {{field.content}}
              small(ng-if="field.field_id == 6") ИНН {{field.content}}
              small(ng-if="field.field_id == 7") ОГРН {{field.content}}
              small(ng-if="field.field_id == 8") ОГРН {{field.content}}
          td.butts 
            div(ng-repeat="button in order.orderbuttons" ng-class="{'buts-wrp':!button.tooltip}")
              span(ng-class="{green:button.status == 2,red:button.status == 3,orange:button.status == 1, 'need-money': needMoney(order.orderbuttons)}" ng-click="openDoc(button.file)") 
                .tooltip(ng-if="button.status == 3 && !needMoney(order.orderbuttons)") {{button.tooltip}}
                | {{button.button.title}}
              | {{button.tooltip}}
              a(href="{{'/reorder/'+order.id}}#fields" ng-if="button.status == 4") Недостаточно данных


            .text-center(ng-if="needMoney(order.orderbuttons)") Недостаточно {{needMoney(order.orderbuttons)}} руб. 
              a(ui-sref="payment") Пополните баланс
            //- span
            //-   strike Идентификация
          td {{order.cost}}P
          td(ng-if="type == 'current'")
            a.btn.btn-option(href="{{'/reorder/'+order.id}}") 
              i.fa.fa-plus-circle
              | Дозаказать проверку
            br
            button.btn.btn-option(ng-click="changeStatus(order, 4)" ng-show="showArchive(order.orderbuttons)")
              i.fa.fa-archive
              | Переместить в архив
            br(ng-show="showArchive(order.orderbuttons)")
            button.btn.btn-option(ng-click="changeStatus(order, 0)")
              i.fa.fa-ban
              | Отменить заказ
          td(ng-if="type == 'archive'")
            button.btn.btn-option(ng-click="changeStatus(order, 1)") 
              i.fa.fa-undo
              | Вернуть


  .pagination.bottom(ng-show="pagination.pages")
    a.btn.btn-left(ng-click="pagination.prev()" ng-if="pagination.pages > 1")
    a.btn(href="" ng-click="pagination.to(i)" ng-if="pagination.pages > 1" ng-repeat="i in [] | range:pagination.pages" ng-class="{'btn-primary': pagination.current == i, 'btn-default': pagination.current != i}") {{i+1}}
    a.btn.btn-right(ng-click="pagination.next()" ng-if="pagination.pages > 1")