.table-container
  .pagination
    text-align center
    &.top
      margin 30px 0 10px 0
    &.bottom
      margin 10px 0 30px 0
    width 100%
    .btn-left
      background url('/assets/images/left.png') center center no-repeat
      border none
    .btn-right
      background url('/assets/images/right.png') center center no-repeat
      border none
    .btn
      margin 0 5px
  .table
    td,
    th
      position relative
      &:before
        content ''
        position: absolute
        left: 0
        top: 15%
        height: calc(100% - 30%)
        width: 1px
      vertical-align middle
      font-weight 300
      border-bottom none
      &:first-child
        text-align center
        &:before
          display none
      a
        color: rgb(51, 153, 102)
        font-weight: 600
        text-decoration: underline
        &:hover
          text-decoration none
        &.btn.btn-option
          color rgb(4, 156, 219)
          font-weight 400
          text-decoration none
          i
            color: rgb(51, 153, 102)
            
    th
      &:before
        background: #fff
      color #fff
      font-size 20px
    td:before
      background-color: rgb(204, 204, 204);
    thead
      background-color: rgb(4, 156, 219)
    td
      &:nth-child(2)
        font-size 18px
      &:nth-child(4)
        font-size 16px

.butts
  span
    &:hover:after,
    &:hover .tooltip
      opacity 1
      visibility visible
    &:after
      content: 'Заказ в очереди'
    &:after,
    .tooltip
      position: absolute;
      bottom: 120%;
      display: block;
      min-width: 100%;
      color: #000;
      left: -50%;
      right -50%
      white-space nowrap
      margin 0 auto
      text-align: center;
      border-radius: 3px;
      padding: 2px 4px;
      opacity: 0;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      z-index: 1;
      visibility hidden
      text-shadow 0 0 15px #000
    color #fff
    padding 2px 3px
    position relative
    font-weight 400
    strike
      color #ccc
    border-radius 3px
    margin 3px
    display inline-block
    font-size 12px
    background-color: rgb(153, 153, 153)
    &.red
      background-color: #ff4d4d
      &:after
        display none
    &.green
      background-color: #37ab63
      cursor pointer
      &:after
        content: 'Заказ выполнен'
    &.orange
      background-color: #fdba2d
      &:after
        content: 'Заказ в работе'
th:last-child
    max-width: 200px
    width: 100px
    
