.container-fluid.blue
  background-color: rgb(4, 156, 219);
  h1.h1
    color: rgb(255, 255, 255);
    font-size: 36px;
    padding-bottom 15px
    font-weight 700
  i
    margin-right 15px
.container
  .tabs
    margin-top 15px
    .btn
      padding-left 95px
      padding-right 95px
      outline none
      i 
        padding-right 5px
      &.btn-primary
        border-radius 4px 4px 0 0
        background-color: rgb(4, 156, 219);
        border none
        padding-top 8px
        padding-bottom 8px
        cursor default
      &.btn-default
        color: rgb(153, 153, 153);
        background-color: rgb(255, 255, 255);
        background-image: linear-gradient(to top, rgb(221, 221, 221) 0%, rgb(247, 247, 247) 100%);
        border: 1px solid rgb(231, 231, 231);
        border-radius: 4px;
.btn.btn-option
  width 100%
  background none
  color rgb(4, 156, 219)
  border 1px solid rgb(4, 156, 219)
  padding 1px 4px
  font-size 12px
  font-weight 400
  margin 5px 0
  border-radius 2px
  text-align left
  i.fa.fa-ban
    color rgb(204, 0, 0)
  i
    padding-right 4px
  &:hover
    color #fff
    background-color: rgb(4, 156, 219);    