.login-wrapper
  position: absolute!important;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
.info-text-wrp
  height 35px
.login-page
  background-color #000
  //background url('/assets/images/bg.png') center top / cover no-repeat
  min-height 100vh
  color #fff
  overflow hidden
  justify-content center
  position relative
  &:before 
    background-color rgba(6, 13, 24, 0.56)
    position absolute
    width 100%
    height 100%
    content ''
    display block
    left 0
    top 0
    z-index 0
  .logo
    margin 20px 0
    position relative
    z-index 1
  .info-text
    line-height 32px
    position relative
    z-index 1
  .form-group
    position relative
    z-index 1
    &.text-left
      margin-bottom 5px
    &.mg-min
      margin-bottom 10px
  > div
    padding-bottom 50px
  .btn
    font-size 18px
    font-weight 600
    padding 9px 30px
input.login-page-control
  color rgb(204, 204, 204)
  font-size 18px
  font-weight 100
  line-height 50px
  padding 0 15px
  background-color rgba(153, 153, 153, 0.25)
  border-radius 2px
  border none
  border-bottom 1px solid rgb(51, 51, 51)
  min-width 345px
  width 100%
  outline none
  transition all .4s
  &:focus
    outline 1px solid #256ca8
  &.username
    background rgba(153, 153, 153, 0.15) url(/assets/images/username_icon.png) -40px center no-repeat
  &.password
    background rgba(153, 153, 153, 0.15) url(/assets/images/password_icon.png) -40px center no-repeat
  &.code
    background rgba(153, 153, 153, 0.15) url(/assets/images/code_icon.png) -40px center no-repeat
  &.email
    background rgba(153, 153, 153, 0.15) url(/assets/images/email_icon.png) -40px center no-repeat
  &.jabber
    background rgba(153, 153, 153, 0.15) url(/assets/images/jabber_icon.png) -40px center no-repeat
  &.icq
    background rgba(153, 153, 153, 0.15) url(/assets/images/icq_icon.png) -40px center no-repeat
  &:focus
    background-position 15px center
    padding-left 50px
    
.btn-group-login
  position relative
  z-index 1
  &.log button
    width 100%
    font-size 16px
label.login-label
  //font-family Helvetica Neue Cyr
  font-size 16px
  font-weight 100
  line-height 20px
  vertical-align middle
  margin-bottom 8px
input.login-checkbox
  width 15px
  height 15px
  margin 0 5px 0 0
.form-group.green-label
  overflow hidden
  position relative
  &:before
    content ''
    position absolute
    left 0
    top 0
    border-top 8px solid #40a953
    border-right 8px solid transparent
    width 0
    height 0