.container-fluid.blue
  .container.text-center
    h1.h1
      i(class="{{form.type.icon_class}}")
      | {{form.type.title}}

form.container(ng-hide="!form.loaded")
  .blocks
    .block(ng-repeat="section in form.type.sections")
      header.bg-primary
        span.num {{section.order}}
        span.header-content {{section.title}}
      .content.clearfix
        p.bg-success {{section.info}}

        div(ng-repeat="base in section.databases" class="col-md-6")
          .block-item(ng-if="base.type == 0")
            .row
              .col-md-4(ng-if="base.image")
                img(ng-src="{{base.image | imageFilter}}", alt="")
              div(ng-class="{'col-md-8':base.image, 'col-md-12': !base.image}" ng-bind-html="base.content | html")
            .row
              .col-md-12(ng-repeat="button in base.buttons")
                .btn.btn-default.pull-left.justify-elements-container(ng-click="form.countToggle(button)" ng-class="{'active':form.counted(button) >= 0}") 
                  span {{button.title}} 
                  span {{button.price}}₽
                tooltip(id="{{base.id}}" content="{time:button.time, example:button.example, help:button.help}")
            

          .block-item.block-item-info(ng-if="base.type == 1")
            .row
              .col-md-3.text-center(ng-if="base.image")
                img(ng-src="{{base.image | imageFilter}}", alt="")
              div(ng-class="{'col-md-9':base.image, 'col-md-12': !base.image}" ng-bind-html="base.content | html")
            .row
              .col-md-12(ng-repeat="button in base.buttons")
                .btn.btn-default.pull-left.justify-elements-container(ng-click="form.countToggle(button)" ng-class="{'active':form.counted(button) >= 0}") 
                  span {{button.title}} 
                  span {{button.price}}₽
                tooltip(id="{{base.id}}" content="{time:button.time, example:button.example, help:button.help}")

    .block.personal-data#fields
      header.bg-primary
        span.header-content Поля, необходимые для проверки
      .content.clearfix
        .col-md-12
          div.form.order-fields(ng-if="form.fieldsMerged.length")
            .col-md-6(ng-repeat="field in form.itemsSorted = (form.fieldsMerged)" ng-switch on="field.type" ng-init="field.required = form.requiredFields[field.id]")
              .error 
              label.blocked(for="") 
                |{{field.title}}
                span.red(ng-if="field.required != '0' && field.required != undefined") *
              input.form-control(type="text", name="", input-mask="'date'" ng-switch-when="1" ng-model="form.subfields[field.id]" ng-required="field.required != '0'")
              .row(ng-switch-when="3")
                .col-md-6
                  label От
                  input(type="text", name="" ng-model="form.subfields[field.id][0]" ng-required="field.required" input-mask="'date'").form-control
                .col-md-6
                  label До
                  input(type="text", name="" ng-model="form.subfields[field.id][1]" ng-required="field.required" input-mask="'date'").form-control
              
              .form-group(ng-switch-when="2")
                select.form-control(ng-model="form.subfields[field.id]" ng-required="field.required")
                  option(ng-repeat="sub in field.subfields.split(',')") {{sub}}

              .form-group.input-file-wrp(ng-switch-when="4")
                label.btn.btn-primary.inputfile-btn(for="inputfile{{field.id}}") Прикрепить файл
                input.hidden(id="inputfile{{field.id}}" type="file" ng-required="field.required" fileread="form.subfields[field.id]" multiple="multiple")
                .thumbs-wrp
                  .img-wrp(ng-repeat="item in form.subfields[field.id] track by $index")
                    i.fa.fa-times-circle(ng-click="form.subfields[field.id].splice($index,1)")
                    img(ng-src="{{item}}" height="30" ng-click="form.openurl(item)")
              input.form-control(type="text", name="", ng-switch-default ng-model="form.subfields[field.id]" ng-required="field.required")

              .form-group(ng-switch-when="5")
                select.form-control(ng-model="form.subfields[field.id]" ng-required="field.required")
                  option(ng-repeat="sub in form.regions") {{sub}}
            
  .row.submit-row
    .col-md-9.text-right.left
      .sum-wrp
        span Сумма заказа:
        span.sum {{form.orderCost}}₽
    .col-md-3.right
      button.btn.btn-success.btn-lg(ng-click="form.submitForm()") Заказать
