.container-fluid.blue
  .container.text-center
    h1.h1
      i(class="{{form.type.icon_class}}")
      | {{form.type.title}}

.container(ng-hide="!form.loaded")
  .blocks
    .block(ng-repeat="section in form.type.sections")
      header.bg-primary
        span.num {{section.order}}
        span.header-content {{section.title}}
      .content.clearfix
        p.bg-success {{section.info}}

        div(ng-repeat="base in section.databases" ng-class="{'col-md-6':base.column_width == 0, 'col-md-12':base.column_width == 1}")
          .block-item(ng-if="base.column_width == 1")
            .row
              .col-md-7
                .row
                  .col-md-3.text-center
                    img(ng-src="{{base.image | imageFilter}}", alt="")
                  .col-md-9(ng-bind-html="base.content | html")
                  .col-md-10(ng-repeat="button in base.buttons")
                    .btn.btn-default.pull-left.justify-elements-container(ng-click="form.countToggle(button)" ng-class="{'active':form.counted(button) >= 0}") 
                      span {{button.title}} 
                      span {{button.price}}P
                    tooltip(id="{{base.id}}" content="{time:button.time, example:button.example, help:button.help}")
              .col-md-5
                .row
                  .col-md-3(ng-if="base.important")
                    .bg-important.text-center ВАЖНО!
                  .col-md-9(ng-bind-html="base.important | html")

          .block-item(ng-if="base.type == 0 && base.column_width == 0")
            .row
              .col-md-4(ng-if="base.image")
                img(ng-src="{{base.image | imageFilter}}", alt="")
              div(ng-class="{'col-md-8':base.image, 'col-md-12': !base.image}" ng-bind-html="base.content | html")
            .row
              .col-md-12(ng-repeat="button in base.buttons")
                .btn.btn-default.pull-left.justify-elements-container(ng-click="form.countToggle(button)" ng-class="{'active':form.counted(button) >= 0}") 
                  span {{button.title}} 
                  span {{button.price}}P
                tooltip(id="{{base.id}}" content="{time:button.time, example:button.example, help:button.help}")
            .row.important-section(ng-if="base.important")
              .col-md-3
                .bg-important.text-center ВАЖНО!
              .col-md-9(ng-bind-html="base.important | html")

          .block-item.block-item-info(ng-if="base.type == 1 && base.column_width == 0")
            .row
              .col-md-3.text-center(ng-if="base.image")
                img(ng-src="{{base.image | imageFilter}}", alt="")
              div(ng-class="{'col-md-9':base.image, 'col-md-12': !base.image}" ng-bind-html="base.content | html")
            .row
              .col-md-12(ng-repeat="button in base.buttons")
                .btn.btn-default.pull-left.justify-elements-container(ng-click="form.countToggle(button)" ng-class="{'active':form.counted(button) >= 0}") 
                  span {{button.title}} 
                  span {{button.price}}P
                tooltip(id="{{base.id}}" content="{time:button.time, example:button.example, help:button.help}")
            .row.important-section(ng-if="base.important")
              .col-md-3
                .bg-important.text-center ВАЖНО!
              .col-md-9(ng-bind-html="base.important | html")


    
    //- .block.personal-data(ng-if="slug == 'entity'")
    //-   header.bg-primary
    //-     span.num 2
    //-     span.header-content Юридическое лицо
    //-   .content.clearfix
    //-     p.bg-success Введите название юридического лица, ИНН или ОГРН
    //-     .col-md-12
    //-       form.form-inline(action="")
    //-         .col-md-4
    //-           input.form-control(type="text", name="", placeholder="Название юр. лица")
    //-         .col-md-4
    //-           input.form-control(type="text", name="", placeholder="ИНН")
    //-         .col-md-4
    //-           input.form-control(type="text", name="", placeholder="ОГРН")

    .block.personal-data(ng-show="form.itemsSorted.length")
      header.bg-primary
        span.header-content Поля, необходимые для проверки
      .content.clearfix
        .col-md-12
          .form.order-fields
            .col-md-12
              label.blocked(for="") Введите название заказа
              input.form-control(type="text" ng-model="form.orderName")
          div.form.order-fields(ng-repeat="orderItem in form.order" ng-if="orderItem.fields.length")
            .col-md-6(ng-repeat="field in form.itemsSorted = (orderItem.fields | unique:'id')" ng-switch on="field.type")
              .error 
              label.blocked(for="") {{field.title}}
              input.form-control(type="date", name="", required, ng-switch-when="1" ng-model="form.subfields[field.id]")
              .row(ng-switch-when="3")
                .col-md-6
                  label От
                  input(type="date", name="" ng-model="form.subfields[field.id][0]").form-control
                .col-md-6
                  label До
                  input(type="date", name="" ng-model="form.subfields[field.id][1]").form-control
              
              .form-group(ng-switch-when="2")
                select.form-control(ng-model="form.subfields[field.id]")
                  option(ng-repeat="sub in field.subfields.split(',')") {{sub}}
              input.form-control(type="text", name="", required, ng-switch-default ng-model="form.subfields[field.id]")
            
  .row.submit-row
    .col-md-9.text-right.left
      .sum-wrp
        span Сумма заказа:
        span.sum {{form.orderCost}}P
    .col-md-3.right
      .btn.btn-success.btn-lg(ng-click="form.submitForm()") Заказать