form .error
    color $brand-danger
.personal-data img.img-thumbnail
    height 100px
.blocked
    display block
.form.order-fields
    padding 15px 0
    @extend .clearfix
    
.fixed-bottom
    z-index 9999
    position fixed
    bottom 0
    padding 20px
    left 0
    right 0
    margin 0 auto
    width 100%
    text-align center