.container-fluid.blue
  .container.text-center
    h1.h1
      i(class="{{form.type.icon_class}}")
      | {{form.type.title}}

form.container(ng-hide="!form.loaded")
  .blocks
    .block(ng-repeat="section in form.type.sections")
      header.bg-primary
        span.num {{section.order}}
        span.header-content {{section.title}}
      .content.clearfix
        p.bg-success {{section.info}}

        div(ng-repeat="base in section.databases" class="col-md-6")
          .block-item(ng-if="base.type == 0")
            .row
              .col-md-4(ng-if="base.image")
                img(ng-src="{{base.image | imageFilter}}", alt="")
              div(ng-class="{'col-md-8':base.image, 'col-md-12': !base.image}" ng-bind-html="base.content | html")
            .row
              .col-md-12(ng-repeat="button in base.buttons")
                .btn.btn-default.pull-left.justify-elements-container(ng-click="form.countToggle(button)" ng-class="{'active':form.counted(button) >= 0}") 
                  span {{button.title}} 
                  span {{button.price}}P
                tooltip(id="{{base.id}}" content="{time:button.time, example:button.example, help:button.help}")
            

          .block-item.block-item-info(ng-if="base.type == 1")
            .row
              .col-md-3.text-center(ng-if="base.image")
                img(ng-src="{{base.image | imageFilter}}", alt="")
              div(ng-class="{'col-md-9':base.image, 'col-md-12': !base.image}" ng-bind-html="base.content | html")
            .row
              .col-md-12(ng-repeat="button in base.buttons")
                .btn.btn-default.pull-left.justify-elements-container(ng-click="form.countToggle(button)" ng-class="{'active':form.counted(button) >= 0}") 
                  span {{button.title}} 
                  span {{button.price}}P
                tooltip(id="{{base.id}}" content="{time:button.time, example:button.example, help:button.help}")
            


    
    //- .block.personal-data(ng-if="slug == 'entity'")
    //-   header.bg-primary
    //-     span.num 2
    //-     span.header-content Юридическое лицо
    //-   .content.clearfix
    //-     p.bg-success Введите название юридического лица, ИНН или ОГРН
    //-     .col-md-12
    //-       form.form-inline(action="")
    //-         .col-md-4
    //-           input.form-control(type="text", name="", placeholder="Название юр. лица")
    //-         .col-md-4
    //-           input.form-control(type="text", name="", placeholder="ИНН")
    //-         .col-md-4
    //-           input.form-control(type="text", name="", placeholder="ОГРН")

    .block.personal-data
      header.bg-primary
        span.header-content Поля, необходимые для проверки
      .content.clearfix
        .col-md-12
          //- .form.order-fields
          //-   .col-md-12
          //-     label.blocked(for="") Введите название заказа
          //-     input.form-control(type="text" ng-model="form.orderName" required)
          div.form.order-fields(ng-if="form.fieldsMerged.length")
            .col-md-6(ng-repeat="field in form.itemsSorted = (form.fieldsMerged)" ng-switch on="field.type" ng-init="field.required = form.requiredFields[field.id]")
              .error 
              label.blocked(for="") 
                |{{field.title}}
                span.red(ng-if="field.required") *
              input.form-control(type="text", name="", rmask="99.99.9999" ng-switch-when="1" ng-model="form.subfields[field.id]" ng-required="field.required")
              .row(ng-switch-when="3")
                .col-md-6
                  label От
                  input(type="text", name="" ng-model="form.subfields[field.id][0]" ng-required="field.required" rmask="99.99.9999").form-control
                .col-md-6
                  label До
                  input(type="text", name="" ng-model="form.subfields[field.id][1]" ng-required="field.required" rmask="99.99.9999").form-control
              
              .form-group(ng-switch-when="2")
                select.form-control(ng-model="form.subfields[field.id]")
                  option(ng-repeat="sub in field.subfields.split(',')") {{sub}}
              input.form-control(type="text", name="", ng-switch-default ng-model="form.subfields[field.id]" ng-required="field.required")
            
  .row.submit-row
    .col-md-9.text-right.left
      .sum-wrp
        span Сумма заказа:
        span.sum {{form.orderCost}}P
    .col-md-3.right
      button.btn.btn-success.btn-lg(ng-click="form.submitForm()") Заказать