.container-fluid.blue
  .container.text-center
    h1.h1
      i(class="{{individual.icon_class}}")
      | {{individual.header}}

.container
  .blocks
    .block
      header.bg-primary
        span.num 1
        span.header-content Проверка кредитной истории
      .content.clearfix
        p.bg-success Выберите проверку по одному или нескольким бюро кредитных историй
        .col-md-6
          .block-item
            .row
              .col-md-4
                img(src="/assets/images/nbki.png", alt="")
              .col-md-8
                b НБКИ: 
                br
                | Национальное Бюро Кредитных Историй
                h6 Самое популярное бюро
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Без названия банков 
                  span 250P
                .btn.btn-question.pull-right ?
            .row.important-section
              .col-md-3
                .bg-important.text-center ВАЖНО!
              .col-md-9
                | Здесь не видны кредиты трех крупнейших банков:
                br
                br
                b “Хоум Кредит”
                br
                b “Русский Стандарт”
                br
                b “Сбербанк”
                br
                br

        .col-md-6
          .block-item
            .row
              .col-md-4
                img(src="/assets/images/okb.png", alt="")
              .col-md-8
                b ОКБ: 
                | Объедененное кредитное бюро
                br
                br
                | Кредиты 
                b “Сбербанка” 
                | видны только здесь                  
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span ОКБ
                  span 200P
                .btn.btn-question.pull-right ?
          .block-item
            .row
              .col-md-4
                img(src="/assets/images/rs.png", alt="")
              .col-md-8
                b Кредитное бюро Русский Стандарт
                h5 Кредиты 
                  b “Русского Стандарта”
                  | видны только здесь
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span ОКБ
                  span 200P
                .btn.btn-question.pull-right ?
        .col-md-6
          .block-item.block-item-info
            .row
              .col-md-3.text-center
                img(src="/assets/images/scoring.png", alt="")
              .col-md-9
                h4
                  b Банковский скоринг + аналитика
                p Подробный анализ то профессиональных кредитных брокеров.
                p Банковский кредитный балл от банка TOP50.
                p Рекомендации по улучшению скоринга.
                p 
                  b Для заказа загрузите паспорт, 4 бюро + Расширенную СБ + ФССП, фото из реальной жизни и заполненный 
                    a опросник.
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Заказать скоринг
                  span 3000P
                .btn.btn-question.pull-right ?

        .col-md-6
          .block-item.block-item-info
            .row
              .col-md-3.text-center
                img(src="/assets/images/hist.png", alt="")
              .col-md-9
                h4
                  b 
                    |Добавление кредитной истории: 
                    br
                    |от банков и МФО
                p Для заказа загрузите:
                ol
                  li Цветной скан или фото паспорта (разворот с фотографией и разворот с регистрацией).
                  li Текстовый файл, в котором будет указана сумма и дата добавления.
                p Мы можем вписать любой кредит в НБКИ и Эквифакс, любой датой, задним числом.
                p Для успешного одобрения кредита рекомендуем следующий алгоритм добавления:
                p Два кредита суммами 100-150 тыс на 1,5-2 года, и через год 300-350 тыс, с погашением в недавнем времени, в 2 бюро - НБКИ и Эквифакс.
                p Такая схема уже многократно опробована, делается несколько раз в неделю для наших постоянных портнеров и дает максимальный результат.
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Добавить в НБКИ
                  span 4500P
                .btn.btn-question.pull-right ?
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Добавить в Эквифакс
                  span 4500P
                .btn.btn-question.pull-right ?
    .block
      header.bg-primary
        span.num 2
        span.header-content Проверка на негатив
      .content.clearfix
        p.bg-success Добавьте проверку на негатив по исполнительным листам, межбанковским базам и сводкам МВД
        .col-md-6
          .block-item
            .row
              .col-md-3.text-center
                img(src="/assets/images/sp.png", alt="")
              .col-md-9
                b Судебные процессы
                p База судебных решений по взысканию различных долгов: алименты, коммунальные платежи, штрафы ГИБДД и т.д.
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span ФССП
                  span 100P
                .btn.btn-question.pull-right ?
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span ФССП + Судебные процессы
                  span 200P
                .btn.btn-question.pull-right ?

          .block-item
            .row
              .col-md-3.text-center
                img(src="/assets/images/ni.png", alt="")
              .col-md-9
                b Проверка налоговой инспекцией
                p Выписка из налоговой инспекции: недвижимость, автомобили и многое другое         
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Заказать выписку
                  span 1000P
                .btn.btn-question.pull-right ?  

        .col-md-6
          .block-item
            .row
              .col-md-3.text-center
                img(src="/assets/images/sb.png", alt="")
              .col-md-9
                b Проверка СБ
                p Проверка заемщика службой безопасности              
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Краткая выписка
                  span 200P
                .btn.btn-question.pull-right ?
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Расширенная выписка (Кронос)
                  span 300P
                .btn.btn-question.pull-right ?
            .row
              .col-md-12
                .btn.btn-default.pull-left.justify-elements-container 
                  span Идентификация физ. лица
                  span 200P
                .btn.btn-question.pull-right ?
    .block.personal-data
      header.bg-primary
        span.header-content Личные данные
      .content.clearfix
        p.bg-success Загрузите паспорт (страница с фотографией и пропиской) и введите свои данные
        .col-md-12
          header.with-border 
            b Паспорт
          span 
            span.blue Внимание! 
            | Без загрузки паспорта некоторые данные будут недоступны
          .btn.btn-success.pull-right
            i.fa.fa-arrow-circle-right
            | Загрузить паспорт
        .col-md-12.text-center
          .img-wrp
            i.fa.fa-times-circle
            img(src="http://lorempixel.com/50/62/", alt="" class="img-thumbnail")
          .img-wrp
            i.fa.fa-times-circle
            img(src="http://lorempixel.com/50/62/", alt="" class="img-thumbnail")
        .col-md-12
          form.form-inline(action="")
            h4.col-md-12 Личные данные
            .col-md-4
              input.form-control(type="text", name="", placeholder="Фамилия")
            .col-md-4
              input.form-control(type="text", name="", placeholder="Имя")
            .col-md-4
              input.form-control(type="text", name="", placeholder="Отчество")
            .col-md-12
              input.form-control(type="text", name="", placeholder="Девичья фамилия")
            .col-md-8
              input.form-control(type="text", name="", placeholder="Место рождения")
            .col-md-4
              input.form-control(type="text", name="", placeholder="дд.мм.гггг")

          form.form-inline(action="")
            h4.col-md-12 Паспорт
            .col-md-4
              input.form-control(type="text", name="", placeholder="Серия")
            .col-md-4
              input.form-control(type="text", name="", placeholder="Номер")
            .col-md-4
              input.form-control(type="text", name="", placeholder="дд.мм.гггг")
            .col-md-12
              input.form-control(type="text", name="", placeholder="Кем выдан")

          form.form-inline(action="")
            h4.col-md-12 Регистрация
            .col-md-6
              input.form-control(type="text", name="", placeholder="Регион")
            .col-md-6
              input.form-control(type="text", name="", placeholder="Город")
            .col-md-6
              input.form-control(type="text", name="", placeholder="Улица")
            .col-md-2
              input.form-control(type="text", name="", placeholder="Дом")
            .col-md-2
              input.form-control(type="text", name="", placeholder="Корпус")
            .col-md-2
              input.form-control(type="text", name="", placeholder="Квартира")
  .row.submit-row
    .col-md-9.text-right.left
      .sum-wrp
        span Сумма заказа:
        span.sum 5600P
    .col-md-3.right
      .btn.btn-success.btn-lg Заказать