dashboard-header
.container
  .row.tabs
    .col-md-12
      a.btn(ui-sref=".individual" ng-class="{'btn-primary':activeTab == 'individual', 'btn-default':activeTab != 'individual'}") 
        i.fa.fa-user 
        | Проверить физ. лицо
      a.btn(ui-sref=".entity" ng-class="{'btn-primary':activeTab == 'entity', 'btn-default':activeTab != 'entity'}")
        i.fa.fa-briefcase
        | Проверить юр. лицо
ui-view
#dashboard-footer