#dashboard-header
.container
  .row.tabs
    .col-md-12
      
      button.btn(ng-repeat="type in add.types" ng-click="add.activeSlug = type.slug" ng-class="{'btn-primary':type.slug == add.activeSlug, 'btn-default':type.slug != add.activeSlug}") 
        i(class="{{type.icon_class}}")
        | {{type.show_title}}

request-form(slug="{{add.activeSlug}}")