.container.table-container
  .table-responsive
    table.table.table-striped
      thead
        tr
          th Дата
          th Сумма
          th Тип
      tbody
        tr(ng-repeat="payment in history.data | orderBy:'-date'" ng-class="{red:payment.order_id}" class="green")
          td {{payment.date}}
          td {{payment.summ}}
          td(ng-if="payment.order_id") Оплата за заказ №{{payment.order_id}}
          td(ng-if="!payment.order_id") Зачисление средств на личный счет