.container.table-container
  .pagination.top(ng-show="history.pagination.pages")
    a.btn.btn-left(ng-click="history.pagination.prev()" ng-if="history.pagination.pages > 1")
    a.btn(href="" ng-if="history.pagination.pages > 1" ng-click="history.pagination.to(i)" ng-repeat="i in [] | range:history.pagination.pages" ng-class="{'btn-primary': history.pagination.current == i, 'btn-default': history.pagination.current != i}") {{i+1}}
    a.btn.btn-right(ng-click="history.pagination.next()" ng-if="history.pagination.pages > 1")
  .table-responsive
    table.table.table-striped
      thead
        tr
          th.text-left Дата
          th Способ оплаты
          th Сумма
          th Статус
      tbody
        tr(ng-repeat="payment in history.data | orderBy:'-date' | pagination:history.pagination.per:history.pagination.current")
          td.text-left {{payment.date | amDateFormat:'DD.MM.YYYY'}}
          td {{payment.cashType.title}}
          td {{payment.summ}} ₽
          td.text-info(ng-if="payment.status == 1") Проведен
          td.text-danger(ng-if="payment.status == 0") Ожидает
  .pagination.bottom(ng-show="history.pagination.pages")
    a.btn.btn-left(ng-click="history.pagination.prev()" ng-if="history.pagination.pages > 1")
    a.btn(href="" ng-click="history.pagination.to(i)" ng-if="history.pagination.pages > 1" ng-repeat="i in [] | range:history.pagination.pages" ng-class="{'btn-primary': history.pagination.current == i, 'btn-default': history.pagination.current != i}") {{i+1}}
    a.btn.btn-right(ng-click="history.pagination.next()" ng-if="history.pagination.pages > 1")