.container.payment
  .col-md-5.center-block.ya-cash
      .btn.btn-default
        img(src="/assets/images/ya-cash.png", alt="")
      .content.text-left
        b Без комиссии!
        p Счет будет пополнен на сумму вашего платежа.
        p Введите сумму, на которую вы хотите пополнить ваш баланс.
        p
          b Cумма пополнения
        p.form-inline
          input.sum-input.form-control(type="text" placeholder="1000")
        p Вы будете перенаправлены на сайт платежной системы для завершения транзакции.
      .text-center
        button.btn.btn-success.btn-lg Оплатить