.cash-preview
  display inline-block
  vertical-align middle
  position relative
  i
    position absolute
    top 0
    right 0
    z-index 1
    cursor pointer
.header-icon
  margin-right 15px
.vertical-middle
  > *
    vertical-align middle
    display inline-block
.payment
  padding-top 20px
  .btn.btn-option
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
    display inline-block
    width auto
    padding 10px 35px
    margin 0 10px 50px 0
  .content
    font-size 16px
  .btn.btn-default
    background-image: linear-gradient(to top, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
    border: 1px solid rgb(207, 207, 207);
    padding 15px 130px
    margin 0 0 40px 0
  .btn-success
    font-size 24px
    margin-bottom 40px
  .sum-input
    background-image url('/assets/images/sum-icon.png')
    background-position right 10px center
    background-repeat no-repeat
  label
    color: rgb(51, 51, 51);
    font-weight: 300;
    font-size 14px
    &.styled-file
      background-image: linear-gradient(to top, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 100%);
      border: 1px solid rgb(207, 207, 207);
      border-radius: 4px;
      padding 10px 50px
      display inline-block
      cursor pointer
      &:active
        background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(237, 237, 237) 100%);
      + input[type="file"]
        display none
.fs16
  font-size 16px
  font-weight 300
tr.green
  color: green
tr.red
  color: red
