dashboard-header
.container-fluid.blue.push-header
  .container.text-center
    h1.h1
      i.fa.fa-question-circle
      | Помощь

.container.help
  .blocks
    .block
      header.bg-primary
        span.num
          img(src="/assets/images/info-icon.png", alt="")
        span.header-content Ответы на вопросы
      .content.clearfix
        .col-md-4
          h5.blue Работа и оплата
          ul.unstyled
            li 
              a(href="") Как с нами связаться?
            li 
              a(href="") Что это за сайт?
            li 
              a(href="") Как пользоваться
            li 
              a(href="") Создание заказа
            li 
              a(href="") Получение заказа
            li 
              a(href="") Время выполнения заказа
            li 
              a(href="") Нужен ли скан паспорта
            li 
              a(href="") Что такое «проверка до негатива»
            li 
              a(href="") Что в вашем понимании негатив?
        .col-md-4
          h5.blue Работа и оплата
          ul.unstyled
            li
              a(href="") По каким базам проверять клиентов
            li
              a(href="") Какие данные нужны для проверки
            li
              a(href="") НБКИ и БКИ – разные вещи
            li
              a(href="") Хватит ли одной проверки НБКИ?
            li
              a(href="") Как проверить кредитную историю за 100 руб.
            li
              a(href="") Чем различаются бюро кредитных историй
            li
              a(href="") Примеры кредитных отчетов
            li
              a(href="") Как читать кредитные отчеты
        .col-md-4
          h5.blue Работа и оплата
          ul.unstyled
            li
              a(href="") Как быстро информация о кредитах и платежах 
            li
              a(href="") появляется в кредитных бюро
            li
              a(href="") Одобрят ли кредит со штрафами в 
            li
              a(href="") исполнительных листах?
            li
              a(href="") Как быстро штрафы уходят из исполнительных 
            li
              a(href="") листов
            li
              a(href="") Судимость погашена. Увидит ли ее банк?
            li
              a(href="") Кредит не виден в кредитной истории
            li
              a(href="") Ложная информация в НБКИ
            li
              a(href="") Можно ли получить кредит с открытой просрочкой
            li
              a(href="") Можно ли удалить или исправить кредитную историю?
            li
              a(href="") Почему нельзя удалить кредитную историю?
    .block
      header.bg-primary
        span.num
          img(src="/assets/images/info-icon.png", alt="")
        span.header-content Работа и оплата
      .content.clearfix.what-is-site
        .col-md-12
          h4
            b Что это за сайт?
          p Это сервис для проверки людей на негатив. У нас заключены договора с официальными поставщиками указанных в списке услуг, поэтому всю бумажную работу мы берем на себя, а от вас требуются только данные на клиента. 
            br
            |Наша задача - сделать проверку на негатив удобной и понятной.

          h4
            b Как пользоваться
          p Чтобы воспользоваться системой, создайте заказ на физическое или на юридическое лицо. Введите необходимые параметры, включите оповещение по e-mail/sms и нажмите кнопку «отправить заказ». Спустя некоторое время вы получите оповещение по email и по sms (если включили их), а также увидите готовые отчеты в своем личном кабинете. Для удобства у отчетов есть цветовая кодировка: зеленый – «все хорошо», желтый – «есть спорные моменты», красный – «обнаружен негатив».

          h4
            b Создание заказа
          p В верхнем меню выберите пункт «+физ.лицо» или «+ юр.лицо». Откроется форма нового заказа. Загрузите в нее документы или введите данные вручную.

          p Затем выберите услуги, укажите телефон и почту для уведомлений - и нажмите кнопку «Отправить заявку». Заявка попадет в ваш личный кабинет и уйдет в обработку.

          p Время обработки заявки составляет от нескольких минут до нескольких часов, в зависимости от загруженности сервиса.

          p 
            b Важно: 
            | для некоторых услуг требуется скан паспорта. Если его нет, эти услуги будут недоступны.

          p
            b Важно: 
            | вы можете сделать заказ не через сайт, а по почте, через ICQ или Skype.
            br
            | Комиссия за ручную обработку заказа составляет 100 руб, и время обработки увеличивается

          h4
            b Получение заказа

          p Готовые заказы система высылает на почту и отправляет SMS-уведомление на телефон (если это указано в настройках). Также они остаются у вас в личном кабинете. По каждому отчету можно щелкнуть и просмотреть его.

          p Для удобства у отчетов есть цветовая кодировка.
          ul
            li.green
              span Зеленым цветом обозначаются положительные либо нулевые отчеты.
            li.yellow
              span Желтый цвет – это спорные отчеты: небольшие просрочки, административные правонарушения и т.д. 
              br
              span В одних банках это считается негативом, а в других к этому относятся спокойно.
            li.red
              span Красный цвет – негатив: открытые просрочки, закрытые длительные просрочки, криминал и т.д. 
              br
              span Для большинства банков это повод для отказа в кредите.