#dashboard-header
.container-fluid.blue.push-header
  .container.text-center
    h1.h1
      i.fa.fa-question-circle
      | Помощь


.container-fluid.popup-wrapper(ng-show="help.showPopup")
  .popup.container
    a.close(ng-click="help.showPopup = 0")
      i.fa.fa-close
    .col-md-12(ng-bind-html="help.popupContent")

.container.help
  .blocks
    .block
      header.bg-primary
        span.num
          img(src="/assets/images/info-icon.png", alt="")
        span.header-content Ответы на вопросы
      .content.clearfix
        .col-md-4(ng-repeat="category in help.data")
          h5.blue {{category.title}}
          ul.unstyled
            li(ng-repeat="h in category.help | filter:{'is_main':0}")
              a(href="" ng-click="help.getHelp(h.id)") {{h.title}}
    .block
      header.bg-primary
        span.num
          img(src="/assets/images/info-icon.png", alt="")
        span.header-content {{help.mainHelp.title}}
      .content.clearfix.what-is-site
        .col-md-12(ng-bind-html="help.mainHelp.text")