.push-header
  margin-top 20px
.help
  h5.blue
    color: rgb(4, 156, 219);
    font-weight 600
  
  ul.unstyled
    list-style-type none
    padding-left 0
    li
      a
        color: rgb(51, 51, 51)
        font-size 13px
        text-decoration underline
        &:hover
          text-decoration none
  ul li
    &.green
      color: rgb(64, 169, 83)
    &.yellow
      color: rgb(204, 204, 0)
    &.red
      color: rgb(204, 0, 0)
    span
      color: rgb(51, 51, 51)!important
      font-weight 600
  .what-is-site
    font-size 13px